@use "../styles/theme.scss";



:local(.avatar-modal){
  margin: auto;
  position: relative;
  min-width: 490px;
//   // display: flex;
//   // flex-direction: column;
//   // height: max-content;
//   // height: 100%;

//   min-width: 395px;
//   margin: 0px auto;
//   padding: 45px 30px 20px;
 
//   width: auto;
  
//   max-width: 500px ;  //395px;          

  @media screen and (min-width: theme.$breakpoint-sm){
    min-width: 330px;
    max-height: 600px;
    // max-width: 295px;
    // padding: 25px 20px 20px;
  }

  @media screen and (min-width: theme.$breakpoint-md){
    max-width: 500px;
    max-height: 550px;
     min-width: 490px;
    // min-height: 335px;
    // max-width: 395px;
    // padding: 40px 20px 20px;
  }
  @media screen and (max-width: theme.$breakpoint-md){
    max-width: 500px;
    max-height: 550px;
    // min-width: 550px;
    // min-height: 335px;
    // max-width: 395px;
    // padding: 40px 20px 20px;
  }

}

:local(.content) {
  align-items: center;
  padding: 24px;
  text-align: center;

  .avatar-setup {


    .form-head {
        border-bottom: 1px solid #fff;
        padding-bottom: 12px;
    }
    
     .back-btn {
        font-family: 'Sunflower', sans-serif;
        font-size: 10px;
        line-height: 13px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #fff;
    }
    
     h5 {
        font-family: 'Sunflower', sans-serif;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        letter-spacing: .2px;
    }
    
     .form-head {
        width: 265px;
    }
    
     .form-body .content-sec {
        margin-bottom: 15px;
    }
    
      label {
        font-family: 'Sunflower', sans-serif;
        font-size: 10px;
        line-height: 13px;
        text-align: left;
        color: #fff;
        display: block;
        letter-spacing: .2px;
    }
    
     /* input { */
        /* height: 32px;
        background: transparent;
        color: #fff;
        font-size: 12px;
        padding: 4px 12px;
        font-family: 'Sunflower', sans-serif;
        line-height: 15px;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        -ms-appearance: none;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        width: 100%; */
    /* } */
    
     input::placeholder {
        color: #fff;
        font-size: 12px;
    }
    
     .form-head h5 {
        padding-left: 51px;
    }
    
    .img-box {
        margin-top: 14px;
        width: 100%;
    }
    
    .form-body {
        width: 220px;
        position: relative;
    }

    .img-box img {
        width: 100%;
    }
}
}

:local(.form-head){ 
  margin-bottom: 20px;
  float: left; 
  padding: 0px 35px 0px 55px; 
  h5 { 
    font-weight: bold; 
    font-size: 20px; 
    line-height: 24px; 
    color: #fff; 
    letter-spacing: -0.02em; 
  }
}
:local(.form-head)> h6 { 
  font-size: 13px; 
  color: #fff; 
  margin-bottom: 5px; 
 
}

:local(.back-btn) {
  font-family:  sans-serif !important;
  font-size: 10px !important;
  line-height: 13px !important;
  float:left;
  letter-spacing: 0.2px !important;
  color: #fff !important;
  a{
    &:hover{
      color: theme.$accent-color-pressed;
    }
  }
 
}

:local(.avatar-preview-container) {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  // height: 100%;
  // width: 100%;
  // background: url("../../assets/images/Avatar-bg.png");
  // background-repeat: no-repeat;
  // background-size: cover;
  // max-width: 298px;
  // max-height: 280px;

  /* TODO: This styling into AvatarPreview */
  & > :first-child {
    // width: 168px;
    // height: 300px;
    // min-height: 300px;
    // border-radius: 8px;
    background: url("../../assets/images/Avatar-bg.png");
    // background-repeat: no-repeat;
    // background-size: cover;
    // width: 298px;
    // height: 280px;
    // min-height: 280px;
    // background-color: theme.$tile-bg-color;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    /* height: 280px; */
    min-height: 280px;
    margin: 15px 0;
  }

  button {
    position: absolute;
    bottom: 12px;
    margin-bottom: 8px;
    width: 134px;
    height: 40px;
    border-radius: 50px;
  }
}


// :local(.sign-inUp-wrap){ 
//   min-height: 100vh; 
//   padding: 50px 0px; 
// }
// :local(.signinUp-box) {
//       min-width: 330px;
//       max-width: 330px;
//       min-height: 375px;
//       padding: 75px 30px 20px;
//       background-image: url(../../assets/images/tabs-bg.png);
// }
// :local(.signinUp-wrap){ 
//   width: 100%; 
// }  
:local(.theme-form){
  :local(.form-group){
    margin-bottom: 5px;
  }
}  

:local(.form-head){ 
  margin-bottom: 20px; 
  padding: 0px 35px 0px 55px; 
  &:h5 { 
    font-family: 'Sunflower', sans-serif; 
    font-weight: bold; 
    font-size: 20px; 
    line-height: 24px; 
    color: #fff; 
    letter-spacing: -0.02em;
  }
  &:h6 { font-size: 13px; color: #fff; margin-bottom: 5px; font-family: 'Alata', sans-serif; }
}
:local(.form-body) {
      width: 185px;
  }
  