@use "../styles/theme.scss";

:local(.code-container) {
  display: flex;

  & > * {
    margin-right: 4px;

    &:last-child {
      margin-right: 0;
    }
  }
}

:local(.short-url-container), :local(.code-letter) {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  border-radius: 12px;
  border: 1px solid theme.$input-border-color;
  font-size: 32px;
  font-weight: theme.$font-weight-regular;
}

:local(.short-url-container) {
  width: 204px;
}

:local(.code-letter) {
  width: 40px;
}

:local(.modal) {
  position: relative;
  // display: flex;
  // flex-direction: column;
  // height: max-content;
  // height: 100%;
  background: url("../../assets/images/modal-image.png");
  // border: 1px solid theme.$border1-color;
  // border-radius: theme.$border-radius-regular;
  // margin: 24px;
  // z-index: 1;
  // width: 100%;
  // background-repeat: no-repeat;
  // background-size: cover;
  // max-width: 533px;
  // max-height: 578px;
   color: theme.$text5-color;
     
  
  min-width: 395px;
  margin: 0px auto;
  padding: 50px 100px 20px;
  min-height: 493px;
  width: auto;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  max-width: 448px;

  @media screen and (max-width: theme.$breakpoint-sm){
    
    min-height: 335px;
    // max-width: 300px;
    padding: 25px 20px 20px;
  }

  // @media screen and (min-width: theme.$breakpoint-lg){
  //   min-width: 530px;
  //   min-height: 335px;
  //   // max-width: 395px;
  //   padding: 40px 20px 20px;
  // }
}

:local(.before-title) {
  align-items: stretch;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 1em;
  
  span {
    font-weight: 300;
  }
   
}

:local(.modal-header) {
  // justify-content: space-between;
  // width: 60%;
  // text-align: center;
  // max-width: 200px;
  // margin: 0px auto;
  // position: relative;
  // right: 20px;
  // font-size: 20px;
  // display: flex;

  justify-content: space-between;
  width: 100%;
  text-align: center;
  //max-width: 242px;
  margin: 0px auto;
  position: relative;
  right: 20px;
  font-size: 20px;
 // display: flex;
  margin-bottom: 35px;

  h3{
    width: 100%;
  }
  &:before {
    content: "";
    width: 348px;
    position: absolute;
    left: -46px;
    right: 0;
    margin: 0 auto;
    background-color: #f7f7f7;
    height: 1px;
    bottom: -20px;
  }
}


:local(.content) {
  
    overflow: hidden;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    

    @media screen and (max-width: theme.$breakpoint-md) {
      padding: 30px 0px;
      font-size: 18px;
      padding: 10px 20px;
  
    }

    @media screen and (max-width: theme.$breakpoint-sm) {
      padding: 0px 0px;
      font-size: 16px;
      padding: 10px 20px;
      button{
        width:120px;
      }
    }

  }
