@use "../styles/theme.scss";

:local(.error) {
  color: theme.$error-color;
}

:local(.microphone-icon-container) {
  display: flex;
  width: 96px;
  height: 96px;
  justify-content: center;
  align-items: center;
  border-radius: 96px;
  border: 1px solid theme.$button-border-color;
  
  svg {
    path {
      stroke-width: 1;
    }

    *[stroke=\#000] {
      stroke: theme.$text5-color;
    }

    *[fill=\#000] {
      fill: theme.$text5-color;
    }

    width: 48px;
    height: 48px;
  }
}

:local(.modal) {
  position: relative;
  // display: flex;
  // flex-direction: column;
  // height: max-content;
  // height: 100%;
  background: url("../../assets/images/modal-image.png");
  // border: 1px solid theme.$border1-color;
  // border-radius: theme.$border-radius-regular;
  // margin: 24px;
  // z-index: 1;
  // width: 100%;
  // background-repeat: no-repeat;
  // background-size: cover;
  // max-width: 533px;
  // max-height: 578px;
   color: theme.$text5-color;

  min-width: 395px;
  margin: 0px auto;
  // padding: 45px 30px 20px;
  padding: 50px 100px 20px;
  min-height: 415px;
  width: auto;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  max-width: 500px; //500px;         

  @media screen and (max-width: theme.$breakpoint-sm){
    
    min-height: 335px;
    max-width: 300px;
    padding: 25px 20px 20px;
  }

  @media screen and (min-width: theme.$breakpoint-lg){
    min-width: 400px;
    min-height: 335px;
    max-width: 395px;
    padding: 40px 20px 20px;
  }
}

:local(.before-title) {
  align-items: stretch;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 1em;
  span {
    font-weight: 300;
  }
}

:local(.modal-header) {
  // justify-content: space-between;
  // width: 60%;
  // text-align: center;
  // max-width: 200px;
  // margin: 0px auto;
  // position: relative;
  // right: 20px;
  // font-size: 20px;
  // display: flex;

  justify-content: space-between;
  width: 100%;
  text-align: left;
  max-width: 193px;
  margin: 0px auto;
  position: relative;
  right: 20px;
  font-size: 20px;
 // display: flex;
  margin-bottom: 35px;

  h3{
    width: 100%;
  }
  &:before {
    content: "";
    width: 314px;
    position: absolute;
    left: -52px;
    right: 0;
    margin: 0 auto;
    background-color: #f7f7f7;
    height: 1px;
    bottom: -18px;
  }
}