@use "../styles/theme.scss";

:local(.modal) {
  position: relative;
  background: url("../../assets/images/modal-image.png");
   color: theme.$text5-color;
  min-width: 395px;
  margin: 0px auto;
  // padding: 50px 100px 20px;
  // min-height: 415px;
  // width: auto;
  // background-repeat: no-repeat;
  // background-size: 100% 100%;
  // max-width: 500px; //500px;       
  
  padding: 37px 99px 17px;

  min-height: 395px;
  width: auto;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  max-width: 438px;
  max-height: 480px;

  @media screen and (min-width: 992px) {
    .Modal__modal__1Ursl {
      min-width: 430px;
      min-height: 335px;
      max-width: 395px;
      padding: 40px 20px 20px;
    }
  }
}

:local(.mic-modal){
  p{
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    font-family:  sans-serif;
    font-style: normal;
    margin-top: 12px;
    margin-bottom: 4px;
  }
 
  position: relative;
 
  // @media screen and (min-width: theme.$breakpoint-md){
  //   // max-width: 495px;
  //   // max-height: 550px;
    
  //   max-width: 438px;
  //   max-height: 480px;
  // }
 

}

:local(.audio-check-container) {
  display: flex;
  min-width: 200px;
  max-width: 330px;
 // padding: 25px 20px 20px;
  margin-top: 0%;
  
 

  svg path {
    stroke-width: 1;
  }

  & > :first-child {
    
    margin-right: 40px; //56px;
    text-align: center;
  }

  // @media screen and (min-width: theme.$breakpoint-sm){
  //   min-width: 292px;
  //   max-width: 330px;
  //   padding: 25px 20px 20px;
  //   margin-top: 0%;
  // }

  // @media screen and (max-width: theme.$breakpoint-md){
  //   // max-width: 260px;
  //   margin: 5%;
  //   text-align: center;
  //   min-width: 200px;
 
  //   max-width: 300px;
  //   margin-top: 5%;
  // }
}

:local(.mic-button-container) {
  // Transitions don't look right with clipping, so just disable it.
  transition: none;

 
  :not(:last-child) {
    z-index: 1;
  }

  :local(.clipped-icon) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  
    path {
      stroke: theme.$text5-color !important;
      stroke-width: 1.25;
    }
  }
}

:local(.mic-level) {
  color: theme.$primary-color;
  position: absolute;
  z-index: 0;
}

:local(.mic-level-icon) {
  position: absolute;
  z-index: 2;
  width: 96px;
  height: 96px;
}

:local(.mic-button) {
  &:hover {
    :local(.mic-level) {
      color: theme.$primary-color-hover;
    }
  }

  &:active {
    :local(.mic-level) {
      color: theme.$primary-color-pressed;
    }
  }
  // @media screen and (max-width:theme.$breakpoint-md){
  //   padding: 0px 35px 0px 15px;
  // }
}

:local(.large-toolbar-button) {
  width: 96px;
  
}


:local(.before-title) {
  align-items: stretch;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 1em;

  span {
    font-weight: 300;
  }
}

:local(.modal-header) {
  justify-content: space-between;
  width: 100%;
  text-align: center;
  max-width: 242px;
  margin: 0px auto;
  position: relative;
  right: 20px;
  font-size: 20px;
 // display: flex;
  margin-bottom: 16px;

  h3{
    width: 100%;
  }
  &:before {
    content: "";
    // width: 355px; //346px
    // left: -55px;   //-63px
    // width: 339px;
    // left: -32px;
  
    // background-color: #f7f7f7;
 
    // bottom: -19px;  //-18px
 
    width: 332px;
    position: absolute;
    left: -43px;
    right: 0;
    margin: 0 auto;
    background-color: #f7f7f7;
    height: 1px;
    bottom: -19px;
  }
}
 
:local(.toolbar-btn){
  margin-top: 15px;
  margin-bottom: 3px;
  display: block;
 
  
}
:local(.toolbarLabel){
   
  margin-top: 15px !important;
  margin-bottom: 3px !important;
  display: block;
  
  width: 100% !important;
  min-height: 16px !important;

}