@use "../styles/theme.scss";

:local(.room-setting){
  font-family: Sans Serif;
  &:h5{
    font-size: 18px;
    font-weight: 800;
  }
}
 
:local(a){
  color: theme.$custom2-color !important;
  font-family: Sans Serif;
}



:local(.room-permissions), :local(.permissions-group) {
  margin-left: 20px;

  & > * {
    margin-top: 12px;
  }
  p{
    margin-top: 15px;
  }

  &:last-child {
    margin-right: 0px;
  }
}

:local(.confirm-revoke-button) {
  display: inline;
  color: theme.$link-color;
}