@use "../styles/theme.scss";

:local(.modal){
    position: relative;
    background: url("../../assets/images/modal-image.png");
    color: theme.$text5-color;
    min-width: 395px;
    margin: 0px auto;
    padding: 50px 100px 20px;
    min-height: 415px;
    width: auto;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    max-width: 500px; //500px;         

    @media screen and (max-width: theme.$breakpoint-sm){
    
        min-height: 335px;
        max-width: 300px;
        padding: 25px 20px 20px;
      }
    
      @media screen and (min-width: theme.$breakpoint-lg){
        min-width: 395px;
        min-height: 415px;
        max-width: 395px;
        padding: 40px 20px 20px;
      }
  
}


:local(.before-title) {
    align-items: stretch;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 1em;
    span {
      font-weight: 300;
    }
}
  
:local(.modal-header) {
    
    justify-content: space-between;
    width: 100%;
    text-align: center;
    max-width: 193px;
    margin: 0px auto;
    position: relative;
    right: 20px;
    font-size: 20px;
   // display: flex;
    margin-bottom: 35px;
  
    h3{
      width: 100%;
    }
    &:before {
      content: "";
      width: 314px;
      position: absolute;
      left: -52px;
      right: 0;
      margin: 0 auto;
      background-color: #f7f7f7;
      height: 1px;
      bottom: -18px;
    }
}
:local(.label){
    // text-align: left !important;
    margin-bottom: 20px;
    padding: 0px 35px 0px 55px;
}

:local(.column) {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-basis: auto;
}

:local(.margins) {
    margin-top: 10%;
    margin-bottom:5% ;
  }

:local(.signupbody) {
  width: 160px;
  margin: 0px auto;
}

:local(.form-lbl){
  font-style: italic;
  font-size: 10px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  margin-bottom: 5px;
}

:local(.text-error){
  font-style: italic;
  font-size: 8px;
  line-height: 8px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}

:local(.input-container){
  margin-bottom: 15px;
}