@use "../styles/theme.scss";


.signinUp-box {
    min-width: 474px;
    margin: 0px auto;
    padding: 45px 30px 20px;
    background-image: url(/assets/images/shape-bg-cb49710….png);
    min-height: 482px;
    width: auto;
    height: 559px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    max-width: 500px;
}