@use "../styles/theme.scss";


:local(.signin-up-wrap){
  // min-height: 100vh;
  // padding: 50px 0px;
}
// :local(.signinUp-box){
//   min-width: 395px; margin: 0px auto; padding: 45px 30px 20px; min-height: 415px; width: auto; background-repeat: no-repeat; background-size: 100% 100%; position: relative; max-width: 395px;
// }
 
:local(.signinUp-box){
  // min-width: 474px;
  // margin: 0px auto;
  // padding: 45px 30px 20px;
  background-image: url(../../assets/images/shape-bg.png);
  // min-height: 482px;
  // width: auto;
  // // height: 559px;
  // background-repeat: no-repeat;
  // background-size: 100% 100%;
  // position: relative;
  // max-width: 500px;

  position: relative;
  // background: url(/assets/images/modal-image-1647c57….png);
  color: var(--text5-color);
  min-width: 395px;
  margin: 0px auto;
  // padding: 37px 99px 17px;
  padding: 37px 80px 17px;
  min-height: 395px;
  width: auto;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  max-width: 438px;
  max-height: 480px;
}
  // :local(.signinUp-wrap){ 
  //   width: 100%; 
  // }


:local(.modal) {
  position: relative;
  display: flex;
  flex-direction: column;
  height: max-content;
  height: 100%;
  background: url("../../assets/images/modal-image.png");
  border: 1px solid theme.$border1-color;
  border-radius: theme.$border-radius-regular;
  margin: 24px;
  z-index: 1;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 533px;
  max-height: 578px;
   color: theme.$text5-color;

  min-width: 395px;
  margin: 0px auto;
  padding: 45px 30px 20px;
  min-height: 415px;
  width: auto;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  max-width:  395px; //500px;         

  @media screen and (max-width: theme.$breakpoint-sm){
    min-width: 290px;
    min-height: 335px;
    max-width: 300px;
    padding: 25px 20px 20px;
  }

  @media screen and (min-width: theme.$breakpoint-lg){
    min-width: 550px;
    min-height: 335px;
    max-width: 395px;
    padding: 40px 20px 20px;
  }
}

:local(.header) {
  // display: flex;
  // height: 48px;
  // border-bottom: 1px solid theme.$border1-color;
  // align-items: center;
  // justify-content: center;
  //  width: 60%;
  // // margin-left: 78px;
  // // h5 {
  // //   margin-left: 40px;
  // // }
  // text-align: center;
  // max-width: 200px;
  // margin: 0px auto;
  // position: relative;
  // right: 20px;
  // font-size: 20px;
   

  // h3:before {content: "";width: 357px;position: absolute;height: 2px;background-color: white;bottom: -16px;left: -11px;right: 0;margin: 0 auto;}

  // @media screen  and (min-width:theme.$breakpoint-sm){
  //   h3{font-size: 18px;
     
  //     font-size: 18px;
  //     margin-top: 20px;
  //     position: relative;
  //     margin-bottom: 25px;
  //     margin-left: -40px;
  //  }
  // }

//   justify-content: space-between;
//   width: 100%;
//   text-align: left;
//   max-width: 242px;
//   margin: 0px auto;
//   position: relative;
//   right: 20px;
//   font-size: 20px;
//  // display: flex;
//   margin-bottom: 35px;

//   h3{
//     width: 100%;
//   }
//   &:before {
//     content: "";
//     width: 346px;
//     position: absolute;
//     left: -52px;
//     right: 0;
//     margin: 0 auto;
//     background-color: #f7f7f7;
//     height: 1px;
//     bottom: -18px;
//   }
  color: #fff;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  max-width: 242px;
  margin: 0px auto;
  position: relative;
  right: 20px;
  font-size: 20px;
 // display: flex;
  margin-bottom: 35px;
  min-width: 242px;

  h3{
    width: 100%;
  }
  &:before {
    content: "";
    // width: 346px;
    width: 310px;
    position: absolute;
    // left: -52px;
    left: -30px;
    right: 0;
    margin: 0 auto;
    background-color: #f7f7f7;
    height: 1px;
    bottom: -19px;
  }
}



:local(.leave){
  background: url("../../assets/images/LeaveRoom.png");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  max-height: 340px;
  max-width: 364px;
  h5 {
    margin-left: 10px;
  }
}

:local(.leave-header){
  width: 61%;
  margin-left: 75px;
  margin-top: 25px;
}

:local(.verify) {
  background: transparent;
  :local(.header) {
    width: 100%;
    margin: auto;
    h5 {
      margin: auto;
    }
  }
}

:local(.before-title) {
  // // position: absolute;
  // // left: 0;
  // // margin-left: 16px;
  // // margin-left: 125px;
  // span {
  //   font-weight: 300;
  // }

  // h3 {
  //   color: #fff;
  // }
  align-items: stretch;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 1em;

  span {
    font-weight: 300;
  }
}

:local(.before-title-leave){
  background: rgba(31, 30, 38, 0.8);
  padding: 5px;
  border-radius: 30px;
  margin-left: 310px;
}

:local(.after-title) {
  position: absolute;
  right: 0;
  margin-right: 16px;
}

:local(.content) {
  // min-height: 200px
  // display: flex;
  // flex: 1;
  // flex-direction: column;
  // small {
  //   color: theme.$text5-color;
  // }
    //max-width: 280px; //80px
    overflow: hidden;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;

    @media screen and (max-width: theme.$breakpoint-md) {
      padding: 30px 0px;
      font-size: 18px;
      padding: 10px 20px;
  
    }

    @media screen and (max-width: theme.$breakpoint-sm) {
      padding: 0px 0px;
      font-size: 16px;
      padding: 10px 20px;
      button{
        width:120px;
      }
    }

  }

:local(.sm-fullscreen) {
  @media(max-width: theme.$breakpoint-lg - 1), (max-height: theme.$breakpoint-vr - 1) {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-width: 0;
    border-radius: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    max-width: none;

    :local(.content) {
      overflow-y: auto;
    }
  }

  //new mic set
  @media(max-width: theme.$breakpoint-md - 1) {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-width: 0;
    border-radius: 0;
    margin: 0;
   
    max-width: none;

    :local(.content) {
      overflow-y: auto;
    }
  }
  //new mic set mobile screen
  @media(max-width: theme.$breakpoint-sm - 1) {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-width: 0;
    border-radius: 0;
    margin: 0;
    max-width: 500px;
    
    :local(.content) {
      overflow-y: auto;
    }
  }
}  

